<div class="main-content col-md-9 p-4">
    <!--CASO: HABITO -->
    <!-- Cabecera -->
    <div class="d-flex col-md-10 justify-content-between align-items-end mb-4">
      <h2 class="me-2"><span><i class="bi bi-check2-circle"></i></span> Habito X</h2>
      <div>
        <button class="btn btn-warning"><i class="bi bi-pencil-fill"></i></button>
        <button class="btn btn-danger"><a class="text-white" href="#"><i class="bi bi-x-lg"></i></a></button>
      </div>
    </div>

    <div class="col-md-10">
      <div class="d-flex align-items-end">
        <h4>Constelacion</h4>
        <img class="d-none d-md-block logo mx-2 rounded-circle" src="../../../assets/logo.jpg" alt="logo">
        <!--ACTUALIZAR EL RESTO DE IMAGENES DE CONSTELLACION CON EL rounded-circle>-->
        <h5>Galaxia</h5>
      </div>
      <p><b>Status:</b> Activa</p>
      <p><b>Frecuencia:</b> Diario (icono/color)</p>
      <p><b>Energia</b> +3 <i class="bi bi-battery-charging"></i> // -2 <i class="bi bi-battery-half"></i></p>
      <p> <b>Puntos:</b> 10 <i class="bi bi-trophy-fill"></i></p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et expedita sint debitis labore ipsa accusantium.
      </p>
    </div>
    <!--CASO: Tarea -->
    <!-- Cabecera -->
    <div class="d-flex col-md-10 justify-content-between align-items-end mb-4">
      <h2 class="me-2"><span><i class="bi bi-calendar2-heart"></i></span> Tarea X</h2>
      <div>
        <button class="btn btn-warning"><i class="bi bi-pencil-fill"></i></button>
        <button class="btn btn-danger"><a class="text-white" href="#"><i class="bi bi-x-lg"></i></a></button>
      </div>
    </div>

    <div class="col-md-10">
      <div class="d-flex align-items-end">
        <h4>Constelacion</h4>
        <img class="d-none d-md-block logo mx-2 rounded-circle" src="../../../assets/logo.jpg" alt="logo">
        <!--ACTUALIZAR EL RESTO DE IMAGENES DE CONSTELLACION CON EL rounded-circle>-->
        <h5>Galaxia</h5>
      </div>
      <p><b>Status:</b> Activa</p>
      <p><b>Prioridad</b> Media</p>
      <p><b>Fecha limite:</b> Date <i class="bi bi-clock"></i></p>
      <p><b>Energia</b> +3 <i class="bi bi-battery-charging"></i> // -2 <i class="bi bi-battery-half"></i></p>
      <p> <b>Puntos:</b> 10 <i class="bi bi-trophy-fill"></i></p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et expedita sint debitis labore ipsa accusantium.
      </p>
    </div>

    <!--CASO: Tarea -->
    <!-- Cabecera -->
    <div class="d-flex col-md-10 justify-content-between align-items-end mb-4">
      <h2 class="me-2"><span><i class="bi bi-calendar2-heart"></i></span> Recurso X</h2>
      <div>
        <button class="btn btn-warning"><i class="bi bi-pencil-fill"></i></button>
        <button class="btn btn-danger"><a class="text-white" href="#"><i class="bi bi-x-lg"></i></a></button>
      </div>
    </div>

    <div class="col-md-10">
      <div class="d-flex align-items-end">
        <h4>Constelacion</h4>
        <img class="d-none d-md-block logo mx-2 rounded-circle" src="../../../assets/logo.jpg" alt="logo">
        <!--ACTUALIZAR EL RESTO DE IMAGENES DE CONSTELLACION CON EL rounded-circle>-->
        <h5>Galaxia</h5>
      </div>
      <p><b>Status:</b> Activa</p>
      <p><b>Agregado:</b> Date <i class="bi bi-calendar2-plus"></i></p>
      <div class="d-flex">
        <p class="me-1"><b>Enlace: </b></p>
        <a href="">Link</a>
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et expedita sint debitis labore ipsa accusantium.
      </p>
    </div>
  </div>