  <!-- BOTON MOVIL -->
  <div class="d-md-none">
    <button class="btn btn-primary  container-fluid rounded-0" type="button" data-bs-toggle="collapse"
        data-bs-target="#sidebarMenu"aria-controls="sidebarMenu">
        Constelacion X
    </button>
    <img class="d-none d-md-block logo rounded-circle" src="../../../assets/logo.jpg" alt="logo">
</div>

<!-- BARRA LATERAL -->
<div class="collapse d-md-block" id="sidebarMenu">
    <div class="sidebar bg-light">
        <div class="d-flex align-items-end py-2">
            <h5 class="me-2">Constelacion X</h5>
            <!--Volverlo clickable para hacer un return a Constelacion con todas las estrellas-->
            <img class="d-none d-md-block logo rounded-circle" src="../../../assets/logo.jpg" alt="logo">
        </div>
        <div class="accordion  text-end" id="galaxiesAccordion">
            <!-- HABITOS 1 -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingGalaxy1">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseGalaxy1" 
                        aria-controls="collapseGalaxy1">
                        Habitos
                    </button>
                </h2>
                <div id="collapseGalaxy1" class="accordion-collapse collapse"
                    aria-labelledby="headingGalaxy1" data-bs-parent="#galaxiesAccordion">
                    <div class="accordion-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item list-group-item-action">Habito 1</li>
                            <li class="list-group-item list-group-item-action">habito 2</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Tareas -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingGalaxy2">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseGalaxy2"
                        aria-controls="collapseGalaxy2">
                        Tareas
                    </button>
                </h2>
                <div id="collapseGalaxy2" class="accordion-collapse collapse"
                    aria-labelledby="headingGalaxy2" data-bs-parent="#galaxiesAccordion">
                    <div class="accordion-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item list-group-item-action">Tarea 1</li>
                            <li class="list-group-item list-group-item-action">Tarea 2</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Recursos -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingGalaxy3">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseGalaxy3"
                        aria-controls="collapseGalaxy3">
                        Recursos
                    </button>
                </h2>
                <div id="collapseGalaxy3" class="accordion-collapse collapse"
                    aria-labelledby="headingGalaxy3" data-bs-parent="#galaxiesAccordion">
                    <div class="accordion-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item list-group-item-action">Recursos 1</li>
                            <li class="list-group-item list-group-item-action">Recursos 2</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>