<div class="container-fluid col-md-3 py-2">
    <!-- BOTON MOVIL -->
    <button class="btn btn-primary d-md-none container-fluid rounded-0" type="button" data-bs-toggle="collapse"
        data-bs-target="#sidebarMenu" aria-expanded="false" aria-controls="sidebarMenu">
        Galaxias
    </button>
    <!-- BARRA LATERAL -->
    <div class="collapse d-md-block" id="sidebarMenu">
        <div class="sidebar bg-light">
            <h5 class="text-center">Galaxias</h5>
            <div class="accordion" id="galaxiesAccordion">
                <!-- Galaxia 1 -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingGalaxy1">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseGalaxy1" aria-expanded="true"
                            aria-controls="collapseGalaxy1">
                            Galaxia 1
                        </button>
                    </h2>
                    <div id="collapseGalaxy1" class="accordion-collapse collapse show"
                        aria-labelledby="headingGalaxy1" data-bs-parent="#galaxiesAccordion">
                        <div class="accordion-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item list-group-item-action">Constelación 1A</li>
                                <li class="list-group-item list-group-item-action">Constelación 1B</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Galaxia 2 -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingGalaxy2">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseGalaxy2" aria-expanded="false"
                            aria-controls="collapseGalaxy2">
                            Galaxia 2
                        </button>
                    </h2>
                    <div id="collapseGalaxy2" class="accordion-collapse collapse"
                        aria-labelledby="headingGalaxy2" data-bs-parent="#galaxiesAccordion">
                        <div class="accordion-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item list-group-item-action">Constelación 2A</li>
                                <li class="list-group-item list-group-item-action">Constelación 2B</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Galaxia 3 -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingGalaxy3">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseGalaxy3" aria-expanded="false"
                            aria-controls="collapseGalaxy3">
                            Galaxia 3
                        </button>
                    </h2>
                    <div id="collapseGalaxy3" class="accordion-collapse collapse"
                        aria-labelledby="headingGalaxy3" data-bs-parent="#galaxiesAccordion">
                        <div class="accordion-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item list-group-item-action">Constelación 3A</li>
                                <li class="list-group-item list-group-item-action">Constelación 3B</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>