  <!-- Barra de navegación -->
  <nav class="navbar navbar-expand-lg bg-light shadow-sm">
    <div class="container-fluid">
      <!-- CON LA ESTRUCTURA EL LINK A INICIO VA A IR BIEN ENTODOS LADOS... menos en index... 
       lo soluciono desde el main.js, pero es un poco... chapucilla creo -->
      <a class="navbar-brand" href=../index.html>
        <img src="../../../assets/logo.jpg" alt="logo" class="img-fluid" style="height: 40px;">
      </a>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="de adorno (por ahora)" aria-label="Search">
          <button class="btn btn-outline-primary" type="submit"><i class="bi bi-search"></i></button>
        </form>
      </div>
    </div>
  </nav>