  <!-- Barra de navegación -->
  <nav class="navbar navbar-expand-lg bg-light shadow-sm">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img src="../../../assets/logo.jpg" alt="logo" class="img-fluid" style="height: 40px;">
      </a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item"><a class="nav-link active" href="#">Iter Polaris</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="constellationsDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">Constelaciones</a>
            <ul class="dropdown-menu" aria-labelledby="constellationsDropdown">
              <li><a class="dropdown-item" href="../../constellation/ConstellationViews/listConstellations.html">Constelaciones Actuales</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="../../constellation/ConstellationViews/createCostellation.html">Crear Constelación</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Buscar proyecto" aria-label="Search">
          <button class="btn btn-outline-primary" type="submit"><i class="bi bi-search"></i></button>
        </form>
      </div>
    </div>
  </nav>