    <!-- Barra de navegación -->
    <nav class="navbar navbar-expand-lg bg-light shadow-sm">
        <div class="container-fluid d-flex justify-content-start">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <img src="../../../assets/logo.jpg" alt="logo" style="height: 40px;">
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link active" href="#">
                            <img class="d-none d-md-block logo" src="../../../assets/logo.jpg" alt="logo">
                            <p class="d-block d-md-none">Iter Polaris</p>
                        </a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="constellationsDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">Constelaciones</a>
                        <ul class="dropdown-menu" aria-labelledby="constellationsDropdown">
                            <li><a class="dropdown-item" href="#">Constelaciones Actuales</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Crear Constelación</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="starsDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">Estrellas</a>
                        <ul class="dropdown-menu" aria-labelledby="starsDropdown">
                            <li><a class="dropdown-item" href="#">Listado de Estrellas</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Crear Estrella</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Buscar proyecto" aria-label="Search">
                <button class="btn btn-outline-primary" type="submit"><i class="bi bi-search"></i></button>
                <button class="btn btn-outline-info" type="filter"><i class="bi bi-funnel"></i></i></button>
            </form>
        </div>
    </nav>